<app-not-found [visible]="!food" notFoundMessage="Product Not Found" resetLinkText="Go To HomePage"></app-not-found>
<div *ngIf="food" class="container">
    <img [src]="food.imageURL" [alt]="food.name">
</div>
<div class="details">
    <div class="header">
        <span class="name"> 
            {{food.name}}
        </span>
        <span class="favorite {{food. favorite?'':'not'}}">
        </span>
    </div>
    <div class="origins">
        <span *ngFor="let origin of food.origin">
            {{origin}}
        </span>
    </div>
    <div class="tag">
        <app-tags [foodPagetags]="food.tags"></app-tags>
    </div>
    <div class="cook-time">
        <span>
            Time to Cook <strong>{{food.cookTime}}</strong> &nbsp;Minutes
        </span>
    </div>
    <div class="price">
        <span>
            {{food.price|currency}}
        </span>
    </div>
        <button (click)="addToCart()">Add To Cart</button>
</div>